#conteneur {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: fit-content;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    height: 100vh;
}

#header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(53, 108, 156);
    padding: 10px;
    color: white;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav a {
    color: white;
    text-decoration: none;
}

#nav a:hover {
    color: #ae6526;
}

#nav .liens a {
    margin: 0 5px; 
}


#main {
    grid-area: main;
    padding: 20px;
    font-size: large;
}

#professions {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#professions th,
#professions td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

#professions th {
    background-color: rgb(53, 108, 156);
    color: white;
}

#professions tr:nth-child(even) {
    background-color: #f2f2f2;
}

#professions tr:hover {
    background-color: #ddd;
}

#footer {
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(53, 108, 156);
    padding: 10px;
    color: white;
}

#footer a {
    color: white;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 800px) {
    #professions {
        width: 100%;
    }

    #professions th,
    #professions td {
        font-size: small;
        padding: 10px;
    }

    #header {
        flex-direction: column;
        text-align: center;
    }

    #nav {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    #footer {
        flex-direction: column;
        text-align: center;
    }
}